/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 16px;
    color: #333;
}
p {
    line-height: 150%;
}

.pages-headline {
    font-size: 37px;
}

@media all and (max-width: 800px) {
    .pages-headline {
        font-size: 28px;
    }
}

nav {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: black;
}

nav li {
    display: inline-block;
    padding: 0.7vw;
}

@media all and (max-width: 500px) {
    nav li {
        font-size: 10pt;
    }
}

nav li:hover {
    background-color: #777;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.menu-item {
    vertical-align: top;
    text-align: center;
}

.menu-item-img {
    width: 63px;
    height: 63px;
    display: inline-block;
}

.menu-item-txt {
    display: block;
    padding-bottom: 5%;
}

#home{
    position: relative;
    margin-top: 2.5vw;
}
#home img {
    width: 100%;
    border-bottom: 2px solid #CCC9C9;
}

#home .headertext {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    color: black;
    letter-spacing: 0.2vw;
    margin-top: 3vw;
}

#home p {
    text-align: center;
    font-size: 4vw;
    line-height: 6vw;
    text-shadow: 1px 1px 1px white;
}

#about {
    /* anim */
    position: relative;
    /* anim end */
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 40px;
    margin-left: 11%;
    margin-right: 15%;
    color: #575454;
    margin-bottom: 15px;
    font-family: "Raleway", "Arial", sans-serif;
    line-height: 2;
    text-align: center;
}

#about .title {
    /* anim */
    margin-left: -35%;
    /* anim end */
    text-align: center;
}

#about .text {
    /* anim */
    margin-left: -35%;
    /* anim end */
    margin-top: 40px;
    font-size: 15px;
    line-height: 2;
}

#about hr {
    margin-left: 5%;
}

@media all and (max-width: 500px) {
    #about {
        margin-left: 5%;
        margin-right: 5%;
    }
}

#group1 {
    /* anim
    position: relative;
    /* anim end */
    font-size: 16px;
    background-image: url("assets/img/bg/divider12.png");
    background-position: 50% 4%;
    background-attachment: fixed;
    background-size: cover;
    line-height: 2;
    color: #575454;
    text-align: center;
    font-family: "Raleway", "Arial", sans-serif;
    border-top: 2px solid #707273;
    padding-right: 5%;
    padding-left: 5%;
}
#group1 .title {
    /* anim
    margin-left: -35%;
    /* anim end */
    text-align: center;
    color: #F7F7F7;
    text-shadow: 1px 1px black;
    letter-spacing: 3px;
}
#group1 .text {
    /* anim
    margin-left: -35%;
    /* anim end */
    margin-top: 26px;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 1.1;
    color: #F4F2F2;
    text-shadow: 1px 1px black;
}
/*
#group1 hr {
    margin-left: 5%;
}*/

@media all and (max-width: 800px) {
    #group1 .text {
        font-size: 20px;
    }
}

#group2 {
    font-size: 16px;
    background-image: url("assets/img/bg/divider22.jpg");
    line-height: 2.3;
    color: #575454;
    text-align: center;
    font-family: "Raleway", "Arial", sans-serif;
    padding-right: 10%;
    padding-left: 10%;
}

#group2 .title {
    /* anim */
    margin-left: -20%;
    position: relative;
    /* anim end */
    text-align: center;
    color: #F7F7F7;
    text-shadow: 1px 1px black;
    letter-spacing: 0px;
    line-height: 1.9;
}
#group2 .text {
    /* anim */
    margin-left: -20%;
    position: relative;
    /* anim end */
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 23px;
    letter-spacing: 0px;
    line-height: 1.1;
    color: #F4F2F2;
    text-shadow: 1px 1px black;
}

#group2 hr {
    position: relative;
    margin-left: 25%;
}

@media all and (max-width: 800px) {
    #group2 .text {
        font-size: 20px;
    }
}

#skills {
    position: relative;
    background-color: #F1F1F1;
    font-family: "Raleway", "Arial", sans-serif;
    text-align: center;
    margin-top: 10%;
}
#skills .title {
    text-align: center;
    font-weight: 100px;
    color: #575454;
    letter-spacing: 0px;
    line-height: 1.9;
    margin-bottom: 50px;
}
#skills .container {
    height: 30vw;
}
#skills .bar {
    display: inline-block;
    position: relative;
    width: 16%;
    vertical-align: bottom;
}
#skills .bar + .bar {
    margin-left: 2.5%;
}
#skills .blue {
    height: 95%;
    background: linear-gradient(#b0dbd6, #5fb2a8) rgb(97, 179, 169);
    border: 1px solid #8dc5be;
}
#skills .red {
    height: 80%;
    background: linear-gradient(#f4dcd6, #e1ae9f) rgb(226, 177, 162);
    border: 1px solid #ebc0b5;
}
#skills .brown {
    height: 90%;
    background: linear-gradient(#efc562, #dfae36) rgb(224, 176, 57);
    border: 1px solid #e7af30;
}
#skills .gray {
    height: 80%;
    background: linear-gradient(#dcba83, #bc8e5b) rgb(190, 145, 93);
    border: 1px solid #dcb386;
}
@media all and (min-width: 500px) {
    #skills .num {
        position: absolute;
        bottom: 3.5vw;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 3.5vw;
        font-weight: 600;
        font-family: Arial;
        opacity: 0.3;
    }
}
@media all and (max-width: 500px) and (min-width: 50px) {
    #skills .num {
        position: absolute;
        bottom: 3.5vw;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: 600;
        font-family: Arial;
        opacity: 0.3;
    }
}
@media all and (min-width: 660px) {
    #skills .word {
        position: absolute;
        bottom: 1.5vw;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 1.4vw;
        font-weight: 500;
        font-family: Arial;
        opacity: 1;
    }
}
@media all and (max-width: 660px) and (min-width: 50px) {
    #skills .word {
        position: absolute;
        bottom: 1.5vw;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 9px;
        font-weight: 500;
        font-family: Arial;
        opacity: 1;
    }
}

/* Portfolio */

#portfolio {
    text-align: center;
    position: relative;
    margin-left: -40%;
}
#ph-switch-portfolio {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    text-align: center;
    vertical-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

@media all and (max-width:649px) {
    #ph-switch-portfolio {
        flex-direction: column;
        width: 63%;
    }
}

@media all and (min-width: 650px) and (max-width: 1023px) {
    #ph-switch-portfolio {
        flex-direction: row;
        width: 60%;
        font-size: 1.8vw;
        margin-bottom: 20px;
    }
}

@media all and (min-width:1023px) {
    #ph-switch-portfolio {
        flex-direction: row;
        width: 45%;
        font-size: 1vw;
    }

    #ph-switch-portfolio .switch-portfolio + .switch-portfolio {
        margin-left: 10%;
    }
}
.switch-portfolio {
    display: inline-block;
    flex-grow: 1;
    flex-basis: 0;
    width: auto;
    margin: 1.5vw;
    padding: 0.5vw;
    text-align: center;
    background-color: #999999;
    color: white;
}
.switch-portfolio:hover {
    background-color: #00CC33;
}

#portfolio-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.portfolio-part {

    position: relative;

    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin: 0.8vw;
}

@media all and (max-width: 649px) {
    .portfolio-part {
        max-width: calc(100% * 0.60);
    }
}

@media all and (min-width: 650px) and (max-width: 1023px) {
    .portfolio-part {
        max-width: calc(100% * (1/3) - 5vw);
    }
}

@media all and (min-width: 1024px) {
    .portfolio-part {
        max-width: calc(100% * (1/6) - 1.7vw);
    }
}
.portfolio-img {
    height: auto;
    max-width: 100%;
    min-width: 100%;
    display: block;
    /* margin-bottom: -10%;
	z-index: -100;*/
}

.portfolio-bottom {

    height: 31%;
    width: 100%;
    position: absolute;

    background-color: rgb(52, 152, 219);
    color: white;
    bottom:	0px;
    right: 0px;
    left: 0px;

    transition: height .4s, background .7s;
}

.portfolio-part:hover .portfolio-bottom {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(52, 152, 219, 0)), to(rgba(255, 100, 100, 1)));
    height: 100%;
}

.portfolio-title {
    font-weight: bold;
    bottom: 1vw;
    left: 1vw;

    transition-property: top, left;
    transition-duration: .4s, .4s;
}

@media all and (max-width: 649px) {
    .portfolio-title {
        display: block;
        font-size: 4vw;
        padding-top: 4px;
    }
}

@media all and (max-width: 1023px) and (min-width: 650px) { /*881px*/
    .portfolio-title {
        display: block;
        font-size: 10pt;
        padding-top: 4px;
    }
}

@media all and (min-width:1024px) {/*882px*/
    .portfolio-title {
        position: absolute;
        font-size: 0.8vw;
    }
}

.portfolio-part:hover .portfolio-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.portfolio-link {
    text-decoration: none;
    color: white;
    background-color: #444444;
    padding: 0.5vw;
    position: absolute;
    right: 0vw;
    bottom: 0.6vw;

    transition: width 1s, transform 1s;
}

.portfolio-part:hover .portfolio-link {
    transform: rotateY(360deg);
    width: 80%;
}

@media all and (max-width: 649px) {
    .portfolio-link {
        font-size: 10pt;
        right: 0px;
        left: 0px;
        bottom: 0px;
        padding: 0;
        padding-top: 4px;
        height: 4vw;
    }

    .portfolio-part:hover .portfolio-link {
        transform: rotateY(360deg);
        width: 100%;
    }
}

@media all and (max-width: 1023px) and (min-width: 650px) {
    .portfolio-link {
        font-size: 10pt;
        right: 0px;
        left: 0px;
        bottom: 0px;
        padding: 0;
        padding-top: 4px;
        height: 2.2vw;
    }

    .portfolio-part:hover .portfolio-link {
        transform: rotateY(360deg);
        width: 100%;
    }

}
@media all and (min-width:1024px) {
    .portfolio-link {
        font-size: 0.8vw;
        margin-right: 1vw;
        margin-top: 0.5vw;
    }
}



/* Blog */

#blog {
    background-color: #EEEEEE;
    padding-bottom: 30px;
    overflow: hidden;
}

.blog-header {
    padding: 2vw;
    text-align: center;
    vertical-align: center;
    background-color: #EEEEEE;
}

.blog-content {
    width: 100%;
    position: relative;
    background-color: white;
}

.post-info {
    background-color: #222222;
    float: left;
    color: white;
    text-align: center;
    width: 10vw;
    height: 100%;
}
.post-content {
    float: left;
    background-color: white;
    color: #222222;
    text-align: left;
    width: 70%;
    padding-bottom: 12px;
}

.post-content h2 {
    font-size: 28px;
    margin: 10px;
}
.post-content p {
    margin: 10px;
}

.post-info img {
    margin: 15px;
}

.post-info h4 {
    margin: 15px;
}

.post-info  h5 {
    margin: 15px;
}

@media all and (min-width:1024px) {
    .blog-post {
        display: inline-block;
        /* anim */
        left: -15%;
        position: relative;
        /* anim end */
        float: left;
        width: 43%;
    }
    .post-info {
        width: 30%;
        height: 100%;
        margin-left: 1px;
        border-color: white;
        position: absolute;
    }

    .post-content {
        margin-left: 30%;
        font-size: 1.2vw;
    }

    .post-info h4 {
        font-size: 1.5vw;
    }
    .post-info h5 {
        font-size: 1vw;
    }
}
@media all and (min-width:500px) and (max-width:1023px) {
    .blog-post {
        /* anim */
        left: -15%;
        position: relative;
        /* anim end */
        display: block;
        width: 100%;
    }
    .post-info {
        width: 20%;
        min-width: 100px;
    }

    .post-info h4 {
        font-size: 1em;
    }
    .post-info h5 {
        font-size: 0.5em;
    }

    .post-content {
        text-align: left;
        width: 75%;
        padding-left: 10px;
        padding-bottom: 12px;
    }
}

@media all and (max-width:499px) {
    .post-info {
        width: 100%;
    }

    .post-info h5 {
        margin: 5px;
        font-size: 1em;
    }

    .post-info h4 {
        margin: 5px;
        font-size: 2em;
        margin: auto;
    }

    .post-content {
        width: 100%;
        margin-top: 10px;
        font-size: 15px;
    }

    .post-content h2{
        font-size: 7vw;
    }
}

.news {
    flex: 1;
    width: 88%;
    color: white;
    background-color: #222222;
}

.news-post {
    /* anim */
    position: relative;
    margin-top: 15%;
    /* anim end */
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: #EEEEEE;
    align-items: stretch;
    align-content: stretch;
}

@media all and (max-width:580px) {
    .news-post {
        width: 100%;
        flex-direction: column;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .news {
        padding: 7px;
        padding-left: 10px;
        margin: auto;
        margin-bottom: 5px;
        margin-top: 20px;
    }

    .news + .news {
        margin-top: 10px;
    }

    .news p, a{
        display: inline;
    }

}

@media all and (min-width: 581px) and (max-width: 1023px) {
    .news-post {
        width: 100%;
        flex-direction: row;
        padding-bottom: 20px;
    }

    .news {
        padding-top: 20px;
        padding-left: 5%;
        padding: 10px;
        margin: 10px;
        margin-top: 10px;
    }

}

@media all and (min-width:1024px) {
    .news-post {
        padding-bottom: 5px;
        height: 100%;
        width: 14%;
        flex-direction: column;
        font-size: 1.2vw;
    }

    .news {
        padding-top: 20px;
        padding-left: 5%;
        padding-bottom: 0px;
        margin-left: 7%;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    .news + .news {
        margin-top: 20px;
    }
}

.news-link {
    text-decoration: none;
    color: rgba(78, 194, 212, 0.98);
}

/* Zurich */

#section-zurich {
    position: relative;
}
#section-zurich img {
    width: 100%;
}
#zurich {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: -10%;
    right: 10%;
    z-index: 998;
    color: white;
    text-shadow: 2px 2px 10px #111111;
    letter-spacing: 0.2vw;
    text-align: center;
    font-size: 4vw;
    line-height: 6vw;
}

#zurich  p{
    font-size: 3vw;
}

/* Contact */

#contact {
    color: #888888;
    text-align: center;
    vertical-align: text-top;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    float: left;
    clear: both;
    display: relative;
}

@media all and (max-width: 1023px) {
    #contact {
        padding-bottom: 30px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 30px;
    }
}

#ph-contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}
@media all and (max-width: 1023px) {
    #ph-contact {
        flex-direction: column;
        font-size: 13pt;
    }
    #inputEmail1, #text1 {
        font-size: 13pt;
    }
}
@media all and (min-width: 1024px) {
    #ph-contact {
        flex-direction: row;
        font-size: 16pt;
    }
    #inputEmail1, #text1 {
        font-size: 16pt;
    }
}
.contact-div {
    /* anim */
    position: relative;
    top: 30%;
    /* anim end */
    display: inline;
    flex-grow: 1;
    flex-basis: 0;
    text-align: left;
    margin: 1vw;
    /*width: 20%;*/
    padding: 1vw;
}

@media all and (max-width: 1023px) {
    .contact-div {
        text-align: center;
        font-size: 15px;
    }
}

.contact-div a {
    text-decoration: none;
    color: rgba(78, 194, 212, 0.98);
}
#inputEmail1, #text1 {
    margin-bottom: 1vw;
    margin-top: 1vw;
}
.copyright {
    text-align: center;
    vertical-align: middle;
    clear: both;
    background-color: #444444;
    padding: 2vw;
    color: white;
}
.copyright a {
    text-decoration: none;
    color: rgba(78, 194, 212, 0.98);
}

.info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    visibility: hidden;
}

.info:target {
    visibility: visible;
}

.info-content {
    position: relative;
    background: white;
    border-radius: 7px;
    margin: auto;
    margin-top: 120px;
    padding: 20px;
    width: 30%;
}

.info h2 {
    font-size: 20px;
}

.info .button-close {
    position: absolute;
    text-decoration: none;
    right: 20px;
    top: 15px;
    font-size: 26px;
}

.info .button-close:hover {
    color: red;
}

.info .info-img {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info p {
    font-size: 12px;
}

@media screen and (max-width: 581px){
    .info-content {
        width: 70%;
    }
}

@media screen and (min-width: 582px) and (max-width: 1024px) {
    .info-content {
        width: 50%;
    }
}